[D-BUS Service]
Name=io.github.khaledsaeed18.Drainscope.Sampler
Exec=/usr/libexec/drainscope-sampler
User=drainscope-sampler
SystemdService=drainscope-sampler.service
